body{
    background-color: rgb(226, 226, 226);
    margin: 0;
}
.trim{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 10px;
    /* border: solid 2px #000; */
    background-color: rgb(138, 160, 135);    

}
.top{
    position: absolute;
    top: 0;
}
.bottom{
    position: absolute;
    bottom: 0;
}
.banner{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    /* height: 200px; */
    /* border: solid 2px #000; */
    /* background-image: url(/images/N4P.png);
    background-size: cover;
   
    background-position: center; */
    
}
.banner-image{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.grid-container{
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    
}
.grid-item{
    border: solid 1px #000;
    height: 200px;
    width: 200px;
    margin: 50px 50px ;
}
.preview-text{
    width: 500px;
    height: 100px;
    margin: auto;
    /* border: solid 2px #000; */
    text-align: center;
    background-image: linear-gradient(to bottom, rgba(226,226,226,0), rgba(216,216,216,1));
}




.nutts{
    font: bold 10px sans-serif;
    fill: #000;
}
.putts{
    font: bold 10px sans-serif;
    fill: #000;

}
.poly{
    fill:rgb(255, 183, 183);
    

}
.title{

}





















































.container-fluid{
    margin-left: 0;
}

.header{
    

}
h1{
    font-size: 3em;
    text-align: center;
}
h2{
    font-size: 1em;
    text-align: center;
}
hr{
    
}
.content{
    
    background-color: rgb(226, 226, 226);
    height:2200px;
}
.content-item{
    
    margin-bottom:20px;
    background-image: url("images/grass.jpg");
    border: 2px solid #000;
}

.thumbnail{
    /*border: 2px solid #000;*/
    width: 200px;
    height: 200px;
}



.side-card{
    
    background-color: rgb(138, 160, 135);
    border-radius: 20px;
    height:300px;
    margin-bottom: 20px;


    border: 2px solid #000;
}
.nav{
    background-color: rgb(66, 1, 1);
    color: rgb(255, 183, 183);
    border: 2px solid #000;
    border-radius: 50px;
    padding: 5px;


    position: fixed;
    top: 5%;
    left: 5%;
}
.nav:hover{
    background-color: rgb(255, 183, 183);
    color: rgb(66, 1, 1);
    padding: 7.5px;
    cursor: pointer;
}